* {
    list-style-type: none;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}




/* .......................FORMAT TEL............................*/
/*................................... PARTIE HEADER ...................................*/

.container_logo {
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 12px 0px grey;
    align-items: center;
    /*position: fixed;*/
}

/*.fleche{
    width:33%;
    padding-left: 20px;
}

.logo {
    text-align: center;
     width: 33%;
}*/
.fleche{
    padding-left: 10%;
    width: 20%;
}
.logo{

    text-align: 33%;
}
.logo img {
    width: 220px;
    padding: 20px;
}



/**************Partie image du restaurant  ******************/
.affiche_restau img{
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.title_restau h1{
    font-family: "shrikhand";
}

 /*.title_restau .fa-regular{
   padding: 30px;
}*/




/* Nom du restaurant et coeur  */

.fa-heart::before{
    padding: 20px;
 }
.heart{
    position: relative;
    transition:all 500ms;
    
}
.heart .fa-solid{
    position: absolute;
    opacity: 0;
    transition-duration: 1s;
    background:-webkit-linear-gradient(top,#9356DC, #FF79DA);
   -webkit-background-clip:text;
    color:transparent;
    /*width: 300px;*/

}
.heart:hover {
    transform: scale(1.5);
    transition:all 500ms;
 }  
.heart:hover .fa-solid{
    opacity: 1;
 }   

.title_restau{
   display: flex;
    align-items: center;
    justify-content: center; 
}
.tiret_bleu{
    width: 40px;
    border-bottom: 2px solid #99E2D0;
    margin-left: 30px;
}

/*****************************LISTE DES MENUS ***********************************************/

.menu_plats{
    background-color: whitesmoke;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
   margin-top: -60px; 
 
}
.menu_list{
    padding: 11px;
}
.entrees_menu h3{  
   font-size: 17px; 
}

.entrees_menu.h2{
    /*justify-content: column;*/
    font-size: 100px; 
}

/* *********Arrivée progressive menus************* */
  /* .entrees_menu {
        opacity: 0;
     animation:fadein ;
     animation-duration: 1s forwards;
 -moz-animation: fadein  
     -webkit-animation:fadein; 
 }*/
 
 /*.entrees_menu {
     opacity: 1;
 }*/

 .starter_1{
    animation: fadein 1s 0.4s backwards ;
   
 }

 .starter_2{
    animation: fadein 1s 0.6s backwards;
 }

 .starter_3{
    animation: fadein 1s 0.8s backwards;
 }
 .starter_4{
    animation: fadein 1s 1s backwards;
 }
 .starter_5{
    animation: fadein 1s 1.2s backwards;
 }
 .starter_6{
    animation: fadein 1s 1.4s backwards;
 }

 .starter_7{
    animation: fadein 1s 1.6s backwards;
 }

 .starter_8{
    animation: fadein 1s 1.8s backwards;
 }
 .starter_9{
    animation: fadein 1s 2s backwards
 }
 @keyframes fadein{
     from{
       transform: translateY(50%);
        opacity:0;  
     }

     20%{opacity: 0.2;}
     50%{opacity: 0.5;}
     75%{opacity:0.8}
     
     to{
        transform: translateY(0);
         opacity: 1;
     }
 }
 
/* CARD INDIVIDUELLE MENU*/
.starter{
    display: flex;
    background-color:white;
    border-radius: 22px;
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 6px 14px 1px rgb(146, 144, 144);
    box-shadow: 0px 6px 14px 1px rgb(146, 144, 144);
    overflow: hidden;
    /*position: relative;*/
    

}
.icon_g { 
    background-color: #99E2D0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  /*position: absolute;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;*/
    /**/
    height: 100%;
    width: 0;
    right: 0;
    transition-duration: 500ms;
    
}

.starter:hover .icon_g{
/*width: 60px;*/
width: 20%;
/*margin-left: 2rem;*/
}
/*.starter:hover .menu_name{
    width: 40%;
}*/
.plat_green{
    width: 100px;
    padding-left: 5px;
    flex-grow: 1;
}

.starter h3{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0;
   /* margin-left: 7px;
    margin-top: 10px;
    font-size: 17px;*/
}

.starter p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    margin-top: 7px;
   /* padding-bottom: 5px;
    margin-left: 7px;*/
   
}

.price{
  display: flex;
  /*margin-right: 10%;
  margin-left: auto;*/
align-items: flex-end;
justify-content: flex-end;
padding-right: 10px;
padding-bottom: 18px;
font-size: 14px;
/*width: 20%;*/
padding-left: 5px;

 }
/* lors du survol */
/*.starter:hover .price{ 
    transform: translateX(-45px);
   transition-duration: 500ms;
}*/

 /*VIGNETTE VERTE MOBILE*/
 
.icon_g .fa-regular{
   color: white;

   /*padding: 30px;*/
}

.starter:hover .icon_g > i{
    transform: rotate(360deg);
    transition-duration: 800ms;

}


 /*Bouton --> COMMANDER */

.second-button{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.second-button input {
    border: transparent;
    border-radius: 40px;
    color: white;
    background: linear-gradient(#9356DC, #FF79DA);
    height: 50px;
    width: 220px;
    text-align: center;
    font-size: 18px;
    -webkit-box-shadow: 0px 6px 14px 1px grey;
    box-shadow: 0px 6px 14px 1px grey;
}

.second-button input:hover {
    -webkit-box-shadow: 0px 9px 20px 1px grey;
    box-shadow: 0px 9px 20px 1px grey;
    filter: brightness(1.2);
    }



 /********************************FOOTER*******************************************/

.container_footer{
    background-color: #353535;
     text-align: center;  
}

.column{
    padding: 15px;
}

.column a{
 color: white;
   
}

.column li{
    margin-bottom: 8px;
}

/*ul{
 padding: 30px;    
}*/

.column h4{
    font-family:"Shrikhand";
    color: white;
}

.fa-utensils::before { 
    margin-right: 10px;
    color: white;  
}

.fa-handshake::before{
margin-right: 10px;
    color: white;
}
 

/*******************FORMAT TABLETTE****************************************/
@media screen and (min-width:768px) {
    
.fleche{
    width:33%;
    padding-left: 20px;
}

.logo {
    text-align: center;
     width: 33%;
}


    .menu_list{
            display: flex;
            flex-wrap: wrap;
            /*flex-wrap: wrap;*/
           justify-content: space-around;
            
        }

        .starter{
           width: 300px;
        }
}

/*********************FORMAT ORDINATEUR**************************************/
@media screen and (min-width:992px){
    .logo img{
        width: 80%;
    }
}

